@font-face {
	font-family: 'Opens Sans';
	src: local('Opens Sans'),
		local('Opens-Sans') url('../fonts/OpenSans-Regular.ttf') format('truetype');
	font-weight: 400;
	font-display: swap;
}

@font-face {
	font-family: 'Opens Sans';
	src: local('Open Sans'),
		local('Opens-Sans') url('../fonts/OpenSans-SemiBold.ttf') format('truetype');
	font-weight: 600;
	font-display: swap;
}

@font-face {
	font-family: 'Opens Sans';
	src: local('Open Sans'), local('Opens-Sans') url('../fonts/OpenSans-Bold.ttf') format('truetype');
	font-weight: 700;
	font-display: swap;
}

@font-face {
	font-family: 'Opens Sans';
	src: local('Open Sans'),
		local('Opens-Sans') url('../fonts/OpenSans-ExtraBold.ttf') format('truetype');
	font-weight: 800;
	font-display: swap;
}
